/* CSS complementary styles */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

/* body {
  font-family: 'Poppins';
  font-weight: 700;
  background-color: rgb(240, 241, 241);
} */
.poppins {
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url("./images/wshapesdesk.svg");
  background-size: 100%;
  background-position-y: 3%;
  background-position-x: 10%;
  background-repeat: no-repeat;
}

.container-fluid {
  max-width: 90%;
}

#contactf {
  margin: 7% 0% 3% 0%;
  width: 100%;
  background-image: url("./images/contactfull.png");
  background-size: cover;
}

#contacttext {
  width: 60%;
  margin: auto auto;
}

#main {
  width: 70%;
  margin: 12% 12% 11% 12%;
}

.allcards {
  margin-bottom: 10%;
}
