/* CSS complementary styles */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

/* body {
  font-family: 'Poppins';
  font-weight: 700;
  background-color: rgb(240, 241, 241);
} */

.container-fluid {
    max-width: 90%;
}

